<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <customErrors mode="Off" />
    <!-- inicio ver.81 -->
    <httpCookies requireSSL="true" httpOnlyCookies="true" sameSite="Lax" />
    <sessionState cookieSameSite="Lax" timeout="14400"></sessionState>
    <!-- fin ver.81 -->
    <httpRuntime maxRequestLength="20480" enableVersionHeader="false" />
  </system.web>
  <system.webServer>
    <modules>
      <add name="Csp" type="sip.front.nonce.Csp" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="X-Powered-By" />
        <remove name="Last-Modified" />
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="0" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Permitted-Cross-Domain-Policies" value="master-only" />
        <add name="X-XSS-Protection" value="1; mode=block " />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
  </system.webServer>
</configuration>
